body, html  {
  margin: 0;
  padding: 0;
}

body {
  background: #2D2241;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.video {
  width: 100%;
  display: block;
  max-width: 770px;
}